<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">Contacts</div>
    <% @contacts.each do |contact| %>
      <%= link_to contact.name, contact %>
    <% end %>
    <div class="col-xs-6 col-md-4">Follow Up</div>
  </div>
</div>
