<h1 class="contacts-header">Contacts</h1>
<div id="contacts">
  <div class="col-lg-8">
    <% @contacts.each do |contact| %>
      <div class="contact">
        <h2 class="name">
          <%= link_to contact.name, contact %>
        </h2>
      </div>
    <% end %>
  </div>
</div>

<h1 class="agenda-header">Agenda</h1>
<div id="agenda">
  <div class="col-lg-4">
    <% @contacts.each do |contact| %>
      <div class="contact">
        <p>
          
        </p>
      </div>

    <% end %>
  </div>
</div>














