<h2 class="conversations"><%= @contact.name %>'s Conversations</h2>

<div id="conversations_wrapper">
  <%= render @contact.conversations %>
  <%= link_to 'New Conversation', new_contact_conversation_path(@contact) %>



</div>